.linkSidebar {
  text-decoration: none;
  color: white;
  text-shadow: 1px 0 #386641, -1px 0 #386641, 0 1px #386641, 0 -1px #386641,
    1px 1px #386641, -1px -1px #386641, 1px -1px #386641, -1px 1px #386641;
  transition: all 0.2s ease;
}

.linkSidebar:hover {
  background-color: #f2e8cf;
  color: #3a913f;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 15rem;
  overflow: auto;
}

body {
  background-color: #f2e8cf;
}

.joe {
  width: 80px;
  height: 80px;
}

.main {
  margin-left: 15rem;
}
