.linkSidebar {
  text-decoration: none;
  color: white;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  transition: all 0.2s ease;
}

.linkSidebar:hover {
  background-color: #7e7c73;
  color: white;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 15rem;
  overflow: auto;
}

body {
  background-color: #7e7c73;
}

.back-dashboard {
  background-color: #7e7c73;
}

.title-dashboard {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.joe {
  width: 80px;
  height: 80px;
}

.main {
  margin-left: 15rem;
}

.tables-headers th {
  font-weight: 700;
  font-size: 24px;
}

.add-comma span::after {
  content: ",\00a0";
}

.add-comma span:nth-last-child(-n + 1)::after {
  content: ".";
}

.add-comma span:nth-last-child(2)::after {
  content: " and ";
}

.action-btn-edit {
  border: none;
  background-color: transparent;
  color: rgb(0 168 233);
}

.action-btn-edit svg {
  width: 1.3rem;
  height: 1.3rem;
}

.action-btn-edit:hover {
  color: rgb(0, 183, 255);
}

.action-btn-delete {
  border: none;
  background-color: transparent;
  color: #cc382e;
}

.action-btn-delete svg {
  width: 1.3rem;
  height: 1.3rem;
}

.action-btn-delete:hover {
  color: #e94236;
}

.edit-image img:hover {
  filter: brightness(60%);
}

.edit-image svg {
  visibility: hidden;
}
.edit-image:hover svg {
  visibility: visible;
}
